[openai]
OPENAI_API_KEY = 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
OPENAI_ORGANIZATION_ID = org-ja1AVxR1sNzBfB6gPpfYSebx
OPENAI_SYSTEM_CONTENT="You are ChatGPT, a large language model trained by OpenAI. Answer as concisely as possible. Traditional Chinese is preferred for answers."
OPENAI_KEEP_COUNT = 4
OPENAI_FLOW_TTL = 7200